<h3>Users</h3>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Nickname</th>
            <th scope="col">Phone</th>
            <th scope="col">Website</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.nickname}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.web}}</td>
        </tr>
    </tbody>
</table>