<h3>Cart</h3>

<p>
    <a routerLink="/shipping">Shipping prices</a>
</p>

<div class="cart-item" *ngFor="let item of items; index as id">
    <span>{{item.name}}</span>
    <span>{{item.price | currency}}</span>
    <button (click)="removeItem(id)">Remove item</button>
</div>

<button (click)="clearCart()">Clear cart</button>

<form [formGroup]="checkedForm" (ngSubmit)="onSubmit(checkedForm.value)">
    <div>
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" required>
    </div>
    <div formGroupName="address">
        <h3>Address</h3>
        <label> Street:
            <input type="text" formControlName="street">
        </label>
        <label> City:
            <input type="text" formControlName="city">
        </label>
        <label> State:
            <input type="text" formControlName="state">
        </label>
        <label> Zip Code:
            <input type="text" formControlName="zip">
        </label>
    </div>
    <button class="button" type="submit" *ngIf="checkedForm.status === 'VALID'">Purchase</button>
    <button class="button" type="button" (click)="resetForm()">Reset</button>
</form>

<div>
    <h3>Customer</h3>

    <p>
        Name: {{checkedForm.controls.name.value}}
    </p>

    <p>
        Address: {{checkedForm.controls.address.value | json}}
    </p>

    <p>
        Form status: {{checkedForm.status}}
    </p>
</div>