<div>
    <h1>Employees</h1>
    <button routerLink="/employee/register" class="btn btn-primary">Register Employee</button>
</div>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees$ | async">
            <td>{{employee.id}}</td>
            <td>
                <a routerLink="/employee/{{employee.id}}">{{employee.name}}</a>
            </td>
            <td>{{employee.salary}}</td>
            <td>{{employee.age}}</td>
            <td *ngIf="active">
                <button (click)="deleteEmployee(employee.id)">Delete Employee</button>
            </td>
        </tr>
    </tbody>
</table>