<h2>Products list</h2>

<div *ngFor="let product of products; index as productId">
    <h3>
        <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">{{product.name}}</a>
    </h3>
    <p *ngIf="product.description">
        Description: {{product.description}}
    </p>
    <button (click)="share()">Share</button>
    <button *ngIf="!checkItem(product)" (click)="addToWishlist(product)">Add to wishlsit</button>
    <button *ngIf="checkItem(product)" (click)="removeFromWishlist(product)">Remove from wishlsit</button>
    <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
</div>