<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" class="form-group">
    <div>
        <h1>Register Here!</h1>
        <label> E-mail:
            <input type="email" formControlName="email" class="form-control" required>
            <div *ngIf="name.email.invalid && (name.email.dirty || name.email.touched)">
                <div *ngIf="name.email.errors.required">
                    E-mail is required!
                </div>
                <span *ngIf="name.email.errors.email">
                    Email format incorect
                </span>
            </div>
        </label>
        <label> Password:
            <input type="password" formControlName="password" class="form-control" required>
            <div *ngIf="name.password.invalid && (name.password.dirty || name.password.touched)">
                <div *ngIf="name.password.errors.required">
                    Password is required!
                </div>
                <span *ngIf="name.confpassword.errors.pattern" class="text-danger">
                    Password must contain only english letters and numbers!
                </span>
                <span *ngIf="name.confpassword.errors.minlength" class="text-danger">
                    Passwords minimum length is 8!
                </span>
            </div>
        </label>
        <label> Confirm Password:
            <input type="password" formControlName="confpassword" class="form-control" required>
            <div *ngIf="name.confpassword.invalid && (name.confpassword.dirty || name.confpassword.touched)">
                <div *ngIf="name.confpassword.errors.required">
                    Password is required!
                </div>
                <span *ngIf="name.confpassword.errors.pattern" class="text-danger">
                    Password must contain only english letters and numbers!
                </span>
                <span *ngIf="name.confpassword.errors.minlength" class="text-danger">
                    Passwords minimum length is 8!
                </span>
                <span *ngIf="checkForm.errors.passwordStatus" class="text-danger">
                    Password don't match.
                </span>
            </div>
        </label>
        <label> Nickname:
            <input type="text" formControlName="nickname" class="form-control" required>
            <div *ngIf="name.nickname.invalid && (name.nickname.dirty || name.nickname.touched)">
                <div *ngIf="name.nickname.errors.required">
                    Nickname is required!
                </div>
            </div>
        </label>
        <label> Phone Number:
            <input type="text" formControlName="phone" class="form-control" required>
            <div *ngIf="name.phone.invalid && (name.phone.dirty || name.phone.touched)">
                <div *ngIf="name.phone.errors.required">
                    Phone Number is required!
                </div>
            </div>
        </label>
        <label> Website:
            <input type="url" formControlName="web" class="form-control" placeholder="website" required>
            <div *ngIf="name.web.invalid && (name.web.dirty || name.web.touched)">
                <div *ngIf="name.web.errors.required">
                    Website is required!
                </div>
            </div>
        </label>
        <label>
            <input type="checkbox" formControlName="check" required>
            I have read the <a href="https://www.google.com/">Agreement</a>
            <div *ngIf="name.check.invalid && (name.check.touch || name.check.dirty)">
                <div *ngIf="name.check.errors.required">
                    Must be checked!
                </div>
            </div>
        </label>
        <button class="button" [disabled]="disableButton" type="submit">Submit</button>
    </div>
</form>