<a [routerLink]="['/']">
    <h1>My store</h1>
</a>

<a [routerLink]="['/wishlist']" class="button fancy-button">
    Wishlist
</a>

<a [routerLink]= "['/cart']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    Checkout
</a>

<a [routerLink]= "['/currency']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    Currencies
</a>

<a [routerLink]= "['/currency-exchange']" class="button fancy-button">
    Currency Exchange
</a>

<a [routerLink]= "['/dashboard']" class="button fancy-button">
    Dashboard
</a>

<a [routerLink]= "['/guard']" class="button fancy-button">
    Guard
</a>

<a [routerLink]= "['/employees']" class="button fancy-button">
    Employees
</a>

<a [routerLink]= "['/register']" class="button fancy-button">
    Register
</a>

<a *ngIf="access" [routerLink]="['/users']" class="button fancy-button">
    Users
 </a>

 <a [routerLink]="['/login']" *ngIf="!access" class="button fancy-button">
    Login
</a>

<a *ngIf="access" class="button fancy-button" (click)="logout()">
    Logout
</a>
